.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
 } 
  
 .articleContainer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 80%;
 }
    
/* 
    .articleContainer {
        display: flex;
        justify-content: space-betweenn;
        align-items: stretch;
        padding: 10px;
        position: relative; 
      }
      
      .articleContainer::before {
        content: "";
        background-color: #f0f0f0; 
        height: 10px; 
        width: 100%; 
        position: absolute; 
        top: 0;
        left: 0; 
        z-index: -1; 
      }
       */
      

